# Bluemix variables
BLUEMIX_ORG="YOUR_ORG"
BLUEMIX_SPACE="YOUR_SPACE"

# OpenWhisk variables
API_HOST="openwhisk.ng.bluemix.net"
OW_AUTH_KEY="MY_OPEN_WHISK_AUTH_KEY"
CURRENT_NAMESPACE="OPEN_WHISK_NAMESPACE"
PACKAGE_NAME="OPEN_WHISK_NAMESPACE"

# Cloudant service variables
CLOUDANT_username="CLOUDANT_USERNAME"
CLOUDANT_password="COUDANT_PASSWORD"
CLOUDANT_host="CLOUDANT_HOST"
CLOUDANT_db="DB_NAME_YOU_CREATED"

# Watson IoT Gateway variables
ORGID="MY_ORG_ID"
GATEWAYTYPEID="MY_GATEWAY_TYPE"
GATEWAYTOKEN="GATEWAY_TOKEN_IF_ANY"
GATEWAYID="MY_GATEWAY_ID"
EVENTTYPE="MY_EVENT_TYPE"

# Watson Visual Recognition service variables
WATSON_key="VISUAL_RECOGNITION_API_KEY"
